@model sportex.backoffice.Models.GroupDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar grupo</h2>

<h3>¿Está seguro que desea eliminar este grupo?</h3>
<div>
    <h4>@*GroupDTO*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID del grupo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Nombre del grupo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDescription)
        </dd>

        <dt>
            Creador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorProfile.FirstName) @Html.DisplayFor(model => model.CreatorProfile.LastName)
        </dd>

        <dt>
            ID perfil del creador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardProfileID)
        </dd>

        <dt>
            Foto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicturePath)
        </dd>

        <dt>
            Cantidad de miembros
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado de grupos", "Index")
        </div>
    }
</div>
