@model sportex.backoffice.Models.StandardProfileDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar perfil</h2>

<h3>¿Está seguro que desea eliminar este perfil?</h3>
<div>
    <h4>@*StandardProfileDTO*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Apellido
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            E-Mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailAddress)
        </dd>

        <dt>
            Nombre de cuenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

        <dt>
            ID de cuenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountID)
        </dd>

        <dt>
            Fecha de nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            Sexo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            Foto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicturePath)
        </dd>

        <dt>
            Promedio de rating
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageRating)
        </dd>

        <dt>
            Rating acumulado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRate)
        </dd>

        <dt>
            Cantidad de calificaciones
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountReviews)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado de perfiles", "Index")
        </div>
    }
</div>
