@model sportex.backoffice.Models.EventDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar evento</h2>

<h3>¿Está seguro que desea eliminar este evento?</h3>
<div>
    @*<h4>EventDTO</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID del evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Nombre del evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Comienzo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingTime)
        </dd>

        <dt>
            Lugar
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            ID Lugar
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>

        <dt>
            Tipo de evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

        <dt>
            Es público
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

        <dt>
            Creador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatorProfile.FirstName) @Html.DisplayFor(model => model.CreatorProfile.LastName)
        </dd>

        <dt>
            ID perfil de creador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StandardProfileID)
        </dd>

        <dt>
            Máximo de participantes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxStarters)
        </dd>

        <dt>
            Máximo de suplentes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxSubs)
        </dd>

        <dt>
            Participantes anotados
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountStarters)
        </dd>

        <dt>
            Suplentes anotados
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountSubs)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado de eventos", "Index")
        </div>
    }
</div>
